<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Home</h1>
    <p>current user: {{name}}</p>
    <p>date: {{date}}</p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis fugiat magnam laborum obcaecati ad praesentium
      numquam doloribus voluptatibus illo eum tempora quia nobis ducimus accusantium, eligendi assumenda dolor, error
      quos. Odit, labore tenetur. Aperiam neque, eaque, consectetur numquam suscipit dolore veniam, expedita natus
      sapiente laborum omnis quidem ex incidunt nemo in dolorum! Ad sequi nobis quas, assumenda amet et eaque. Nobis
      sequi, quam cum nemo perferendis alias molestias, veniam, laboriosam modi vel maxime perspiciatis tenetur!
      Dignissimos accusantium error quaerat incidunt! Totam repellat dolorum facere eum architecto tempora
      exercitationem a deleniti? Soluta reprehenderit dicta error excepturi maxime, doloremque libero itaque harum eos
      illum voluptatibus ab. Velit nostrum rem beatae voluptatem eum animi necessitatibus repudiandae? Suscipit,
      laboriosam harum! Enim eveniet voluptatem possimus.
    </p>
  </body>
</html>
